page-credits {
  // CONTENT
  .scroll-content {
    background-color: #F4F4F4;
  }
  .content_padding {
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    p {
      text-align: justify;
    }
  }
}
